$color1: #ece8e8;
$color2: #a7abb0;
$color3: #C4D8E2;
$color4: rgb(246, 252, 255);
$color5: #FFFAF0;
// $color6: rgb(251, 236, 206);
// $color7: rgb(217, 183, 183);
$color6: #e0f2f1;
$color7: #c8e6c9;

.mainDiv {
    border-collapse: collapse;
    max-width: 650px;
    min-width: 650px;
    background-color: rgb(216, 216, 216);

    margin: auto;

    .cityMain {
        background-image: linear-gradient($color6, $color7);
        border-image: linear-gradient($color7, $color6);

        border: 2px solid transparent;
        border-radius: 5px;


        .title {
            color: gray;
            padding: 1px 3px 1px 12px;
            font-size: 14px;
            width: 100px;
            vertical-align: middle;

        }

        .holder {
            padding: 5px;
        }

        .cityName {
            font-size: 30px;
            text-align: center;
            color: #2a0289;
            vertical-align: middle;
        }

        .timeZone {
            color: black;
            font-size: 22px;
            width: 200px;
            vertical-align: middle;


        }

        .timeHour {
            padding-right: 7px;

            font-size: 22px;
            max-width: 60px;
            min-width: 60px;
            font-weight: bold;
            color: black;
            overflow: hidden;
            vertical-align: middle;
        }

        .googleMap {
            font-size: medium;
            color: dodgerblue;
            cursor: pointer;

            &:hover {
                color: #fdc714;
                text-shadow: 2px 2px 7px black;

            }
        }

        .dropdown {

            min-width: 200px;
            text-align: left;
            padding: 0px;
            position: relative;
            display: inline-block;
            cursor: pointer;

            .position {
                font-size: 14px;
                color: black;
                // padding-top: 12px;

                vertical-align: middle;

                &:hover {
                    color: #fdc714;
                    text-shadow: 2px 2px 4px black;
                }
            }

            .dropdown-content {
                display: none;
                font-size: 14px;
                font-weight: lighter;
                position: absolute;
                min-width: 30px;

                span {
                    position: relative;
                    top: -2px;
                    padding: 5px 13px;
                    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                    background-color: #f9f9f9;
                    display: flex;
                    align-content: center;

                    .map {
                        font-size: small;
                        color: dodgerblue;
                    }

                }

            }

            &:hover .dropdown-content {
                display: block;
                color: black;
                text-shadow: none;
            }
        }
    }

    .title {
        color: gray;
        padding: 1px 3px 1px 12px;
        font-size: 14px;
        width: 100px;
        vertical-align: center;

    }





    .windMain {
        display: flex;
        padding: 10px;
        justify-content: space-between;

        width: 630px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

        .tempHold {

            min-width: 380px;
            max-width: 380px;
            background-image: linear-gradient($color4, $color3);
            border-image: linear-gradient($color3, $color4);
            border-radius: 5px;
            border: 2px solid transparent;
            padding: 10px;
            max-height: 40px;


            .tempDeg {
                font-size: 38px;
                font-weight: bold;
                color: black;
                padding: 8px;
            }

            .title {
                color: gray;
                padding: 1px 3px 1px 12px;
                font-size: 14px;
                width: 30px;
                vertical-align: middle;


            }

            .title2 {
                color: gray;
                padding: 1px 3px 1px 12px;
                font-size: 14px;
                min-width: 100px;
                vertical-align: middle;

            }

            .popNumb {
                font-size: 21px;
                font-weight: bold;
                text-align: center;
                padding: 4px;
            }

            .temp {
                text-align: left;
                font-size: 17px;
                font-weight: bold;
                color: black;
                padding: 5px;
            }

            .temp2 {
                text-align: center;
                font-size: 17px;
                font-weight: bold;
                color: black;
                max-height: 50px;

                .imgHold {



                    background-color: $color5;
                    border-radius: 8px;
                    width: 70px;

                }

                p {
                    font-size: 18px;
                    margin: 4px;
                }
            }
        }


        .windHold {

            min-width: 230px;
            max-width: 230px;
            padding: 10px;
            background-image: linear-gradient($color4, $color3);
            border-image: linear-gradient($color3, $color4);

            border: 2px solid transparent;
            border-radius: 5px;
            max-height: 40px;

            .windPlace {
                width: 55px;
                height: 55px;
                // background-color: #fdc714;
                // display: flex;
                // flex-wrap: wrap;
                display: block;
                text-align: center;
                justify-content: center;
                align-content: center;

                .arrow {
                    width: 18px;
                }

            }



            .title {
                color: gray;
                padding: 1px 3px 1px 12px;
                font-size: 14px;

                vertical-align: middle;

            }

            .wind {
                font-size: 17px;
                font-weight: bold;
                padding: 5px;
                color: black;

            }

            .wind2 {
                padding: 15px;
            }

            .googleMap {
                color: dodgerblue;
                cursor: pointer;
                font-size: medium;

                &:hover {

                    color: #fdc714;
                    text-shadow: 2px 2px 7px black;
                }

            }
        }

    }







}

@media screen and (max-width: 500px) {
    .mainDiv {

        max-width: 358px;
        min-width: 358px;

        .cityMain {

            border: 2px solid transparent;
            border-radius: 5px;
            padding-top: 10px;

            .title {
                color: gray;
                padding: 1px 3px 1px 5px;
                font-size: 10px;
                width: 30px;



            }

            .holder {
                padding: 3px;
            }

            .cityName {
                font-size: 20px;
                font-weight: bold;
                vertical-align: middle;
            }

            .timeZone {
                color: black;
                font-size: 14px;
                padding: 0px;
                width: 200px;
                vertical-align: middle;
            }

            .timeHour {
                padding-right: 7px;
                font-size: 14px;
                max-width: 35px;
                min-width: 35px;
                vertical-align: middle;
            }

            .googleMap {
                font-size: small;

                &:hover {
                    text-shadow: 2px 2px 4px black;

                }
            }

            .dropdown {

                min-width: 100px;
                text-align: left;
                padding: 0px;
                position: relative;
                display: inline-block;
                cursor: pointer;

                .position {
                    font-size: 10px;
                    color: black;
                    // padding-top: 12px;

                    &:hover {
                        color: #fdc714;
                        text-shadow: 1px 1px 2px black;
                    }
                }

                .dropdown-content {
                    display: none;
                    font-size: 10px;
                    font-weight: lighter;
                    position: absolute;
                    min-width: 20px;

                    span {
                        position: relative;
                        top: -2px;
                        padding: 3px 7px;


                    }

                }


            }
        }




        .title {
            padding: 1px 2px 1px 6px;
            font-size: 10px;
            width: 50px;
        }


        .windMain {
            padding: 5px;
            width: 345px;

            .tempHold {

                min-width: 185px;
                max-width: 185px;

                border-radius: 5px;
                border: 2px solid transparent;
                padding: 5px;

                .tempDeg {
                    font-size: 22px
                }

                .title {

                    padding: 1px 2px 1px 6px;
                    font-size: 10px;
                }

                .title2 {
                    padding: 1px 2px 1px 4px;
                    min-width: 30px;
                    font-size: 10px;
                }

                .popNumb {
                    font-size: 13px;


                    padding: 3px;
                }

                .temp {
                    font-size: 12px;
                }

                .temp2 {

                    font-size: 12px;


                    .imgHold {


                        border-radius: 2px;
                        width: 43px;


                    }

                    p {
                        font-size: 10px;
                    }
                }
            }


            .windHold {

                min-width: 150px;
                max-width: 150px;
                padding: 5px;


                border: 2px solid transparent;
                border-radius: 5px;

                .windPlace {
                    width: 40px;
                    height: 40px;

                    .arrow {
                        width: 12px;
                    }
                }

                .title {
                    padding: 1px 3px 1px 6px;
                    font-size: 10px;
                }

                .wind {
                    font-size: 12px;
                }

                .wind2 {
                    padding: 10px;
                }

                .googleMap {
                    font-size: small;

                    &:hover {

                        text-shadow: 2px 2px 4px black;
                    }

                }
            }

        }

        .dropdown {

            min-width: 120px;




            .position {
                font-size: 10px;

                padding: 2px;

                &:hover {

                    text-shadow: 2px 2px 4px black;
                }
            }

            .dropdown-content {

                font-size: 12px;

                min-width: 20px;


                span {

                    padding: 2px 10px;
                    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                    background-color: #f9f9f9;
                    height: 20px;
                }

            }

        }


    }

}