$color-one: #cdcdcd;
$color-two: #a7abb0;
$color-three: rgb(164, 168, 206);

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
}

.container {
    background-color: #afb0af;
    width: 500px;
    margin: auto;
    padding: 20px;
}
.home {
    width: 650px;
    height: 1200px;
    background-color: coral;
}

.navContainer {
    background-color: #84867b;
    display: flex;
    flex-direction: row;
    margin: auto;
    max-width: 650px;
    min-width: 650px;
    justify-content: space-around;
    .linker {
        color: $color-one;
        text-decoration: none;
        font-weight: bold;
    }
   .linker:hover {
        color: #a8dbd7;
    }


}
.place {
    background-color: #84867b;

    display: flex;
    height: 45px;
    justify-content: space-around;

}


.tabelaZemlje {

    border-collapse: collapse;
    max-width: 650px;
    min-width: 650px;
    background-color: $color-one;

    margin: auto;



    .search {
        max-width: 400px;
        min-width: 400px;
        height: 50px;
       
        background-color: #828c82;
        margin: auto;
    }

    .imageTwo {
        width: 200px;
        padding-top: 25px;
    }

    .flag {
        text-align: center;


        .imageFl {
            padding-top: 25px;
            width: 330px;
            margin: auto;
        }

        .imageFlsearch {
            width: 550px;
            padding-top: 25px;
            margin: auto;
        }

    }
    .flagAlt {
        font-size: 32px;
    }

    .name {
        font-weight: bold;
        font-size: 36px;

        text-align: center;

        .image {
            width: 450px;
        }
    }

    .nameComm {
        text-align: left;
        font-size: 32px;
        font-weight: bold;
    }

    .capital {
        font-size: 28px;
        font-weight: bold;
    }


.lang {
    font-size: 22px;
}





    .population {
        font-size: 28px;
        font-weight: bold;
    }

    .long {
        font-size: 20px;
    }

    td {
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 10px;
        font-size: 24;
    }

    .region {
        border-bottom: solid 10px #7a9c99;
    }
}



.nameOff {
    font-size: 24px;
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    
    color: #84867b;
    cursor: pointer;
    border-radius: 400px;
    .arrowup {
        // align-items: center;
      
        width: 24px;
        height: 24px;
        color: #7a9c99ac;
        background-color: rgba(165, 206, 195, 0.43);
    
        border-radius: 12px;
        border: solid 3px #95beba7c;
      }
  }

@media screen and (max-width: 500px) {
    body {
        font-size: 16px;
        margin: 0;
        padding: 0;
    }

    .navContainer {
        max-width: 358px;
        min-width: 358px;
        margin: auto;
    }

    .place {
        display: block;
        height: 90px;
        .search {
            width: 150px ;
            font-size: 14px;
        }
    }

    .search {
        max-width: 320px;
        min-width: 320px;
    }

    .tabelaZemlje {
        max-width: 358px;
        min-width: 358px;
        margin: auto;

        .naslov {
            text-align: center;
        }

        .name {
            font-size: 24px;
            text-align: center;
            padding-top: 15px;

            .image {
                width: 200px;
                padding-top: 10px;
            }
        }

        .nameComm {
            font-size: 22px;
            padding-top: 10px;
            padding-bottom: 10px;

        }
        .lang {
            font-size: 16px;
        }

        .flag {
            .imageFl {
                width: 190px;
                padding-top: 8px;

            }
            .imageFlsearch {
                width: 310px;
            }
        }
        .flagAlt {
            font-size: 20px;
        }


        .imageTwo {
            padding-top: 8px;
            width: 110px;
        }
        .population {
            font-size: 18px;
        }

        .long {
            font-size: 14px;
        }

        td {
            padding: 2px 10px;
            font-size: 14px;
        }

        .capital {
            font-size: 22px;
            padding-top: 8px;
            padding-bottom: 8px;
        }

        .maps {
            border-bottom: solid 5px #828c82;
        }

        .nameOff {
            font-size: 18px;
        }
    }



}