@import '../scss/_cssreset.scss';
@import "../scss/_weather.scss";

$color1: #ece8e8;
$color10: #d0caca;
$color8: #89CFF0;
$color9: #00308F;
$colHov: #f77103;
$colTit: dodgerblue;

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
}

.hotTemp1 {
    color: #aa030e;
}

.hotTemp2 {
    color: #d2044c;
}

.hotTemp3 {
    color: #fd7147;
}

.hotTemp4 {
    color: #ebc400;
}

.hotTemp5 {
    color: #02be3b;
}

.hotTemp6 {
    color: #25ccb6;
}

.hotTemp7 {
    color: #0D98BA;
}

.hotTemp8 {
    color: rgb(0, 128, 255);
}

.loader {
    margin: auto;
    width: 650px;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color1;
}

.container {
    background-color: $color1;
    width: 500px;
    margin: auto;
    padding: 20px;
}

.navContainer {
    background-color: $color3;
    padding-bottom: 50px;

    margin: auto;
    max-width: 650px;
    min-width: 650px;

    .fixed {
        display: flex;
        height: 40px;
        padding: 5px;
        background-color: $color3;
        width: 640px;
        justify-content: space-around;
        position: fixed;
        z-index: 3;

        Button {
            font-size: 16px;
        }

    }

    .linker {
        padding: 10px;

        .home {
            background-color: $color3;
            color: $colTit;
            font-weight: bold;
            text-decoration: none;

            &:hover {
                color: $colHov;
                text-shadow: 2px 2px 7px black;
            }
        }
    }
}

.home {
    margin-top: 0;
    margin: auto;
    width: 650px;
    height: 510px;
    background-color: white;
    padding-top: 100px;

    .img {
        margin: auto;
        background-size: cover;
        background-image: url("https://upload.wikimedia.org/wikipedia/commons/b/b4/2002_six-color_world_political_map.png");
        width: 650px;
        height: 328px;
    }
}

.place {
    background-color: $color7;
    padding: 6px;
    display: flex;
    height: 50px;
    justify-content: space-around;

    .search {
        width: 50px;
    }
}


.tabelaZemlje {
    border-collapse: collapse;
    max-width: 650px;
    min-width: 650px;
    background-color: $color1;
    margin: auto;

    .populTitl {
        font-size: 28px;
        text-align: center;
        padding: 15px;
    }

    .buttonC {
        width: 100px;

        background-color: $color3;

        margin: 15px 20px 10px 20px;

        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &:hover {
            background-color: $color7;
        }
    }

    .start {
        display: none;
    }

    .end {
        display: flex;
        flex-direction: column;

        position: relative;

        margin-left: 20px;

        width: 200px;
        padding: 0px 10px 20px 10px;
        background-color: $color3;
        z-index: 1;

        .iks {
            display: block;
            text-align: right;
            cursor: pointer;
        }

        .title {
            cursor: pointer;
            color: $colTit;

            &:hover {
                color: $colHov;
            }
        }
    }



    .popTr {
        .popul {
            font-size: 22px;
            padding: 5px 30px;
            text-align: left;
            max-width: 250px;
        }

        .populVal {
            padding: 5px 20px 5px 5px;
            color: #013441;
            font-size: 24px;
            text-align: left;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
    }

    .popTr:nth-child(even) {
        background-color: $color10;
    }


    .geogImg {
        min-width: 250px;
        max-width: 250px;
        padding-left: 10px;

        .imageDet {
            width: 200px;
            margin: auto;
            cursor: pointer;
            margin-top: 10px;

            &:hover {
                box-shadow: 4px 4px 15px black;
            }
        }
    }

    .results {
        padding: 15px;
        border-bottom: solid 3px #7a9c99;
    }

    .search {
        max-width: 400px;
        min-width: 400px;
        height: 50px;
        background-color: $color2;
        margin: auto;
    }

    .imageTwo {
        width: 200px;
        padding-top: 15px;
        padding-left: 10px;
    }

    .flag {
        text-align: center;
        padding: 10px 20px;

        .imageFl {
            width: 260px;
            margin: auto;
            cursor: pointer;

            &:hover {
                box-shadow: 4px 4px 9px black;
            }
        }

        .imageFlsearch {
            width: 550px;
            margin-top: 25px;
            margin: auto;
            cursor: pointer;

            &:hover {
                box-shadow: 4px 4px 15px black;
            }
        }

        .nytImg {
            width: 620px;
        }
    }

    .flagAlt {
        font-size: 22px;
        padding: 10px 12px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .nameCommClick {
        cursor: pointer;
        color: dodgerblue;
        font-size: 22px;
        font-weight: bold;

        &:hover {
            color: #fdc714;
            text-shadow: 1px 1px 4px black;
        }
    }

    .name {
        font-weight: bold;
        font-size: 36px;
        text-align: center;

        .image {
            width: 450px;
        }

        .coat {
            width: 570px;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }

    .nameComm {
        text-align: left;
        font-size: 32px;
        font-weight: bold;
    }

    .capital {
        font-size: 28px;
        font-weight: bold;
    }

    .lang {
        font-size: 22px;
        vertical-align: middle;
    }

    .population {
        font-size: 24;
        font-weight: bold;
        vertical-align: middle;
    }

    .nameOffCountry {
        font-size: 25px;
        min-width: 310px;
        font-weight: bold;
        color: $colTit;
        vertical-align: middle;
        cursor: pointer;

        &:hover {
            color: $colHov;

        }
    }

    .region {
        vertical-align: middle;
        font-size: 18px;
        padding: 5px 12px;
        color: gray;
    }

    .nameCity {
        max-width: 700px;
        vertical-align: middle;
        padding: 5px 10px;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        color: #006B3C;
    }

    .nameGeog {
        max-width: 700px;
        vertical-align: middle;
        padding: 45px 10px 30px 10px;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        cursor: pointer;
        color: $colTit;

        &:hover {
            font-weight: bold;
            color: $colHov;

        }
    }

    .nameCount {
        vertical-align: middle;
        padding: 5px;
        font-size: 22px;
        font-weight: bold;
        text-align: left;
        color: $colTit;
        cursor: pointer;

        &:hover {
            font-weight: bold;
            color: $colHov;

        }
    }

    .aqiNum {
        font-size: 24px;
        font-weight: bold;
        width: 350px;
        text-align: left;
    }

    .long {
        font-size: 20px;
    }

    .countryMain {
        background-image: linear-gradient($color6, $color7);
        border-image: linear-gradient($color7, $color6);
        border: 2px solid transparent;
        border-radius: 5px;
        padding: 7px;

        .title {
            color: gray;
            padding: 5px;
            font-size: 15px;
            width: 30px;
            vertical-align: top;
        }

        .nameOff {
            font-size: 17px;
        }

        .lang {
            text-align: left;
            font-size: 17px;
            font-weight: bold;
            color: black;
            padding: 5px;
        }

        .lang2 {
            font-size: 18px;
            font-weight: bold;
            text-align: left;
            vertical-align: top;
            padding: 5px;
            color: black;
        }

        .nameComm {
            font-size: 26px;
            font-weight: bold;
            min-width: 300px;
            text-align: center;
            vertical-align: middle;
            padding: 10px 2px;
        }

        .nameOffCity {
            font-size: 26px;
            font-weight: bold;
            cursor: pointer;
            width: 300px;
            color: $colTit;
            vertical-align: middle;

            &:hover {
                color: $colHov;

            }
        }
    }

    .nytName {
        font-size: 25px;
        padding: 20px;
        font-weight: bold;
        background-color: #013441;
        color: #c4c6b7;
        text-align: center;
    }

    .nytTitle {
        font-size: 25px;
        font-weight: 800;
        padding: 15px;
        text-align: center;
    }

    .nytAbs {
        padding: 10px 15px;
        font-size: 24px;
    }

    .nytPar {
        padding: 5px 15px;
        font-size: 22px;
    }

    .nytDate {
        display: flex;
        padding: 10px 15px;
        font-size: 14px;
        justify-content: space-between;
    }

    .quake {
        display: flex;
        text-align: center;
        padding: 0px 10px;

        .magnitude {
            display: flex;
            justify-content: center;
            align-items: center;
            // text-align: center;
            border-radius: 5px;
            width: 40px;
            height: 40px;
            color: $color9;
            background-color: $color8;

        }

        .titleQ {
            font-size: 23px;
            padding: 5px 10px;
            min-width: 320px;
        }

        .time {
            text-align: left;
            padding-top: 25px;
            padding-bottom: 10px;
            font-size: 16px;
        }
    }

    .choose {
        padding: 15px;
        font-size: 22px;
    }

    .fieldset {
        display: flex;
        justify-content: space-around;

    }
}

.nameOff {
    font-size: 24px;
}

.lonLat {
    font-size: 18px;
    border-bottom: solid 3px grey;
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;

    color: #84867b;
    cursor: pointer;
    border-radius: 400px;

    .arrowup {
        width: 24px;
        height: 24px;
        color: #7a9c99ac;
        background-color: rgba(165, 206, 195, 0.43);
        border-radius: 12px;
        border: solid 3px #95beba7c;
    }
}

.paper {
   
    margin-top: 5px;
    height: 35px;
    min-width: 240px;
    max-width: 240px;

    .base {
        max-width: 180px;
        padding-left: 10px;
        font-size: 20px;
    }
 
}

.footer {
    margin-top: 6ch;
    font-size: 12px;
    color: #5e5f5e;
    text-align: center;
}

.interspace {
    height: 700px;
}

.cityNum {
    margin: auto;
    display: flex;
    width: 650px;
    overflow-x: auto;
  
    background-color: $color1;

    .numb {
        padding: 8px 10px;
        text-align: center;
        font-size: 20px;
        color: $colTit;
        cursor: pointer;

        &:hover {
            color: $colHov;
        }

        &:active {
            color: $color8;
        }
    }

    .numbAct {
        text-align: center;
        padding: 8px 10px;
        font-size: 20px;
        background-color: $color2;
        border-radius: 5px;
        color: $color9;
    }
}
.cityNum::-webkit-scrollbar {
  height: 4px;
}


@media screen and (max-width: 500px) {
    body {
        font-size: 16px;
        margin: 0;
        padding: 0;
    }

    .loader {
        max-width: 358px;
        min-width: 358px;
        height: 700px;
    }

    .navContainer {
        max-width: 358px;
        min-width: 358px;
        padding-bottom: 50px;

        margin: auto;

        .fixed {

            height: 40px;
            padding: 5px;
            background-color: $color3;
            width: 348px;

            Button {
                font-size: 10px;
            }


        }

        .linker:hover {
            text-shadow: 1px 1px 4px black;
        }
    }

    .home {
        margin-top: 0;
        margin: auto;
        width: 358px;
        height: 200px;
        padding-top: 10px;

        .img {
            height: 175px;
            width: 358px;
        }
    }

    .place {
        display: block;
        height: 100px;
        width: 300px;
        padding-left: 50px;

        .search {
            width: 230px;
            font-size: 14px;
        }
    }

    .search {
        max-width: 320px;
        min-width: 320px;
    }

    .tabelaZemlje {
        max-width: 358px;
        min-width: 358px;
        margin: auto;

        .populTitl {
            font-size: 22px;

        }

        .buttonC {
            width: 90px;

        }

        .end {
            display: flex;
            flex-direction: column;

            position: relative;
            // margin-top: 45px;
            margin-left: 20px;
            // height: 500px;
            width: 110px;
            padding: 0px 10px 20px 10px;
            background-color: $color3;
            z-index: 2;


            .title {
                cursor: pointer;
                color: colTit;

                &:hover {
                    color: $colHov;
                }
            }
        }

        .popTr {
            .popul {
                font-size: 16px;
                padding: 3px 20px;
                text-align: left;
                max-width: 250px;
            }

            .populVal {
                padding: 5px 20px 5px 5px;

                font-size: 16px;

            }
        }

        .geogImg {
            min-width: 140px;
            max-width: 140px;

            .imageDet {
                width: 135px;

                &:hover {
                    box-shadow: 2px 2px 12px black;
                }
            }
        }


        .search {
            max-width: 320px;
            min-width: 320px;
        }

        .naslov {
            text-align: center;
        }

        .name {
            font-size: 24px;
            text-align: center;
            padding-top: 15px;

            .image {
                width: 200px;
            }

            .coat {
                padding-top: 10px;
                width: 320px;
            }
        }

        .nameComm {
            font-size: 22px;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .nameCity {
            padding: 3px 8px;
            font-size: 22px;
        }

        .nameGeog {
            font-size: 22px;
            padding: 30px 8px 15px 19px;

        }

        .nameCount {
            padding: 4px;
            font-size: 16px;
        }

        .lang {
            font-size: 16px;
        }

        .flag {
            padding-top: 10px;
            padding-left: 2px;

            .imageFl {
                width: 170px;
                // padding-top: 8px;
                margin-top: 8px;

            }

            .imageFlsearch {
                width: 200px;

                &:hover {
                    box-shadow: 2px 2px 12px black;
                }
            }

            .nytImg {
                width: 340px;
            }
        }

        .flagAlt {
            font-size: 18px;
            padding: 10px 10px;
        }

        .nameCommClick {
            cursor: pointer;
            color: blue;
            font-size: 18px;

            &:hover {
                color: #fdc714;
            }
        }

        .imageTwo {
            padding-top: 10px;
            padding-left: 5px;
            width: 110px;
        }

        .position {
            font-size: 18px;
            min-width: 80px;
            padding-left: 5px;
        }

        .mapIcon {
            font-size: 13px;

            &:hover {
                text-shadow: 1px 1px 5px #fdc714;
            }
        }

        .population {
            font-size: 18px;
            min-width: 50px;
            max-width: 100px;
        }

        .aqiNum {
            font-size: 18px;
            min-width: 100px;
            width: 100px;
        }

        .dropdown {

            min-width: 120px;
            padding-left: 5px;

            .position {
                font-size: 14px;
            }

            .dropdown-content {
                font-size: 14px;
                min-width: 30px;

                p {
                    height: 15px;
                }
            }
        }

        .long {
            font-size: 14px;
        }

        .capital {
            font-size: 22px;
            padding-top: 8px;
            padding-bottom: 8px;
        }

        .region {
            padding: 3px 8px;
            font-size: 14px;

            .mapIcon {
                font-size: 14px;
            }
        }

        .nameOff {
            font-size: 18px;
        }

        .nameOffCountry {
            font-size: 16px;
            min-width: 210px;

        }

        .choose {
            padding: 15px;
            font-size: 17px;
            text-align: justify;
        }

        .countryMain {
            background-image: linear-gradient($color6, $color7);
            border-image: linear-gradient($color7, $color6);
            border: 2px solid transparent;
            border-radius: 5px;
            padding: 7px;

            .title {
                color: gray;
                padding: 1px 3px 1px 4px;
                font-size: 10px;
                width: 30px;
                vertical-align: middle;
            }

            .nameOff {
                font-size: 12px;
            }

            .lang {
                text-align: left;
                font-size: 12px;
            }

            .lang2 {
                font-size: 14px;
            }

            .nameComm {
                font-size: 20px;
                min-width: 180px;
            }

            .nameOffCity {
                font-size: 16px;
                width: 180px;


            }
        }

        .nytName {
            font-size: 20px;
            padding: 10px;
        }

        .nytTitle {
            font-size: 20px;
            font-weight: 700;
            padding: 8px;
        }

        .nytAbs {
            padding: 7px 10px;
            font-size: 18px;
        }

        .nytPar {
            padding: 5px 10px;
            font-size: 16px;
        }

        .nytDate {
            padding: 7px 10px;
            font-size: 10px;
        }

        .quake {
            display: block;

            .titleQ {
                font-size: 20px;

            }
        }
    }


    .paper {
        min-width: 250px;
        max-width: 250px;
        height: 30px;

        .base {
            max-width: 180px;
            font-size: 18px;
        }
    }

    .footer {
        margin-top: 400px;
        font-size: 9px;
    }

    .cityNum {

        width: 355px;


    }

}