$color-one: #cdcdcd;
$color-two: #a7abb0;
$color-three: rgb(164, 168, 206);

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
}

.container {
    background-color: #afb0af;
    width: 500px;
    margin: auto;
    padding: 20px;
}

.navContainer {
    background-color: #84867b;
    display: flex;
    flex-direction: row;
    margin: auto;
    max-width: 650px;
    min-width: 650px;
    justify-content: space-around;


}


.tabelaZemlje {

    border-collapse: collapse;
    max-width: 650px;
    min-width: 650px;
    background-color: $color-one;

    margin: auto;



    .search {
        max-width: 300px;
        min-width: 300px;
        height: 250px;
        background-color: #828c82;
        margin: auto;
    }
.imageTwo {
    width: 200px;
    padding-top: 25px;
}
    .flag {
        text-align: center;
       

        .imageFl {
            padding-top: 25px;
            width: 350px;
            margin: auto;
        }

    }

    .name {
        font-weight: bold;
        font-size: 36px;

        text-align: center;

        .image {
            width: 450px;
        }
    }

    .nameComm {
        text-align: left;
        font-size: 32px;
        font-weight: bold;
    }

    .capital {
        font-size: 28px;
        font-weight: bold;
    }








    .population {
        font-size: 28px;
        font-weight: bold;
    }

    .long {
        font-size: 20px;
    }

    td {
        padding-left: 30px;
        padding-bottom: 10px;
    }

    .region {
        border-bottom: solid 10px #7a9c99;
    }
}



.nameOff {
    font-size: 24px;
}

@media screen and (max-width: 500px) {
    body {
        font-size: 14px;
        margin: 0;
        padding: 0;
    }

    .navContainer {
        max-width: 350px;
        min-width: 350px;
        margin: auto;
    }

    .search {
        max-width: 320px;
        min-width: 320px;
    }

    .tabelaZemlje {
        max-width: 350px;
        min-width: 350px;
        margin: auto;

        .naslov {
            text-align: center;
        }

        .name {
            font-size: 22px;
            text-align: center;

            .image {
                width: 200px;
            }
        }
        .nameComm {
            font-size: 18px;
            padding-top: 10px;

        }

        .flag {
            .imageFl {
                width: 190px;
                padding-top: 8px;

            }
        }


        .imageTwo {
            padding-top: 8px;
            width: 110px;
        }

        .long {
            font-size: 14px;
        }

        td {
            padding: 5px;
        }
.capital {
    font-size: 18px;
}
        .maps {
            border-bottom: solid 5px #828c82;
        }
    }

    .nameOff {
        font-size: 16px;
    }

}